@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  * {
    outline: 1px solid red;
    background-color: rgba(100, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper-pers {
    perspective: 1000px;
  }

  .rotator {
    transform: rotatey(20deg);
  }

  .rotator-left {
    transform: rotatey(-20deg);
  }
}

.grow-animation {
  transition: all 0.2s ease-in-out;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
